div{
    border: 1px solid black;
    box-sizing: border-box;
    /* width ,height 지정 시 content + border + padding 의 크기로 지정될 수 있도록
    각 영역의 비율을 자동으로 조절 */
}

/* 전체를 감싸는 영역 */
.container{
    width:1000px;
    height: 800px;
    /* 다른요소와의 간격 */
    margin:auto; /* 요소를 가로 가운데 정렬 */
}

/* 행을 구분하는 영역 */
.header{
    width:100%; /* 부모의 가로 길이와 동일하게 하기 위해서 */
    height: 20%;
}

.content{
    width:100%;
    height: 60%;
}

.content > div{
    float: left;
}

/* content 영역 좌우 2분할 */
.content > div:first-child{
    width:15%;
    height: 100%;
}

.content > div:last-child{
    width:85%;
    height: 100%;
}

.footer{
    width:100%;
    height: 20%;
}